.rule{
    width: 70%;
    position:relative;
    left:50%;
    transform: translate(-50%, 0);
    background-color:rgba(224, 216, 216, 0.5);
    border: solid 4px white;
    padding: 40px;
    border-radius: 20px;
    font-size: large;
}
